.vscode.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
dataCollection
*/.vscode/*
*.vscode*
*training*
*NormalizedData
*logs*
*test_set*
*test*
*checkpoints*